<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Layout</title>
</head>

<body>
    <div class="global">
        <div class="topo-div">
            topo-div
        </div>

        <div class="menu-div">
            menu-div
        </div>

        <div class="esq-div">
            <div class="destaques-div">
                destaques-div
            </div>


            <div class="chamadas-div">
                chamadas-div
            </div>

            <div class="chamadas-div left17">
                chamadas-div
            </div>
        </div>

        <div class="dir-div">
            <div class="maislidos-div">
                maislidos-div
            </div>

            <div class="anuncios-div left17">
                anuncios-div
            </div>
            <div class="anuncios-div">
                anuncios-div
            </div>
            <div class="anuncios-div">
                anuncios-div
            </div>
            <div class="anuncios-div left17">
                anuncios-div
            </div>
        </div>
        <div class="rodape-div">
            rodape-div
        </div>
    </div>
</body>

</html>